@model List<RavenDB.Models.UserInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Add User", "AddUser", "User")</li>
</ul>

<ul>
    @foreach (var user in Model)
    {
        <li>
        @{Html.RenderPartial("ViewUser", user);}
        </li>
    }
</ul>